<p>basket works!</p>

<main>
 
        <ul>
            
            <li *ngFor="let productInBasket of basket; let index = index">
                
                <article class="flexProductInBasket">
                    
                    <div class="selectedProduct">
                        <img src="{{productInBasket.product.image }}" width="136px" height="136px">
                    
                        <div>
                            <p class="productTitle">{{ productInBasket.product.title}} </p>
                            <p class="productPrice">{{ productInBasket.product.price}} € </p>
                        </div> 
                    </div>

                    <div class="selectedIngredients">

                        <ng-container *ngFor="let chosenIngredient of productInBasket.product.includedIngredient; index as i" >

                            <!-- renseigner condition des ingrédients:
                            si un ingrédient inclu a été retiré
                            si un/des ingrédients en extra a/ont été ajouté  -->

                        </ng-container>

                    </div>

                </article>
            </li>
        </ul>

</main>