<p>basket works!</p>

<!-- <main>

    <div id="panier" >

       

        <ul>
            <li *ngFor="let basketProduct of basket; let index = index">
                <article class="article flex">
                    <img src="{{basketProduct.product.image }}" alt="{{ basketProduct.product.title}}" width="150px">
                   
                    Partie nom de l'article - prix et description
                    <div>
                        <p>{{ basketProduct.product.title}}</p>
                        <br>
                        <p>{{ basketProduct.product.description }}</p>
                        <p{{ basketProduct.product.price}}€</p>
                    </div> -->


                    <!-- partie prix -->
                    <!-- <div>

                        <app-counter></app-counter>
            
                    </div>

                </article>
                <br>
            </li>
        </ul>



    </div> -->