<ul class="filterTag">
  <li>
    <a
      routerLink="/all-products"
      #newKey
      (click)="updateProductCategorie('tomato')"
    >
      Base tomate
    </a>
  </li>
  <li>
    <a
      routerLink="/all-products"
      #newKey
      (click)="updateProductCategorie('white')"
    >
      Base blanche
    </a>
  </li>
  <li>
    <a
      routerLink="/all-products"
      #newKey
      (click)="updateProductCategorie('veggie')"
      >Veggie</a
    >
  </li>
  <li>
    <a
      routerLink="/all-products"
      #newKey
      (click)="updateProductCategorie('dessert')"
      >Desserts</a
    >
  </li>
  <li>
    <a
      routerLink="/all-products"
      #newKey
      (click)="updateProductCategorie('drink')"
      >Boissons</a
    >
  </li>
</ul>
