<!-- 
<li>
  <a routerLink="/all-products/{{ product.id }}">
    <img src="{{ product.picture }}" alt="photo de dessert" />
    <br />
    <h3>
      <b> {{ product.title }} </b>
    </h3>
    <br />
    <p>{{ product.price | centimesToEuros }}</p>
  </a>
</li> -->

<!-- <h2>{{ productCards.titre }}</h2> -->

<a routerLink="/all-products/{{ productCards.id }}">
  <li>
    <img src="{{ productCards.picture }}" alt="" />
    <h3>{{ productCards.title }}</h3>
    <br />
    <p>{{ productCards.price | centimesToEuros }}</p>
    <p>{{ productCards.id }}</p>
  </li>
</a>
