<h2>Votre commande a bien été envoyée en cuisine !</h2>
<h2 class="bonAppeti">Buon Appetito !</h2>
<h3>Commande Table {{ getNumber() }}</h3>
<ul>
  <li *ngFor="let basketProduct of basket">
    <img src="{{ basketProduct.product.picture }}" alt="" />
    <div>
      <p>{{ basketProduct.product.title }}</p>
      <p>{{ basketProduct.product.price | centimesToEuros }}</p>
    </div>
  </li>
</ul>

<p class="newOrder">
  <a routerLink="/" (click)="anuleCommande()"
    >COMMENCER UNE NOUVELLE COMMANDE</a
  >
</p>
