h2{
    font-family: Inter;
    font-size: 30px;
    text-align: center;
}

h3{
    font-family: Playfair Display;
    font-style: italic;
    color: #092947;
    margin-left: 100px;
    margin-top: 70px;
}

.newOrder{
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    
}

.newOrder a{
    color: #092947;
    text-decoration: none;
}